.accordian-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 251, 243);
  padding: 50px;
}
.accordion-inner-div{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2.5rem auto;
  background-color: black;
  border-radius:1rem ;

}

.accordian-heading {
  margin: 3rem 0;
  color: goldenrod;
}

.accordion-item {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  
}

.accordion-title {
  width: 100%;
  font-size: 18px;
  padding: 20px 0;
  cursor: pointer;
  border-bottom: 0.1px solid grey;
  color: rgb(215, 196, 154);
  
}




.accordion-content {
  width: 100%;
  padding: 20px 10px;
  font-size: 17px;
  border-top: none;
  border-radius: 0 0 5px 5px;
}
