.sec-2{
  padding: 100px 20px;
}
.video-titles-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}
.yt-title1 {
  color: goldenrod;
  font-size: 30px;
  font-weight: 700;
  
}
.yt-title2 {
  color: rgb(207, 128, 68);
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
  /* opacity: 0.5; */
}

.center-line-2 {
  width: 10%;
  border-bottom: 0.1px solid rgb(113, 111, 107);
}

.video-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.5rem;
}

iframe {
  max-width: 100%;
  border-radius: 1.2rem;
  box-shadow: 0 0 20px 10px rgba(44, 44, 44, 0.3);
}

@media screen and (max-width: 768px) {
  .yt-title1 {
    font-size: 1.3rem; /* Adjust font size for smaller screens */
  }

  .yt-title2 {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
  }

  .center-line-2 {
    width: 25%; /* Adjust width for smaller screens */
  }

  .video-div {
    margin-bottom: 2rem; /* Adjust margin for smaller screens */
  }
}