/* Styles for the section div */
.sec-1-div {
  padding: 50px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Set your desired maximum width */
  margin: 0 auto; /* Center the div horizontally */
}

/* Styles for the logo image */
.logo-img {
  width: 100%;
  max-width: 120px;
  display: flex;
  justify-content: center;
  
 
  align-items: flex-start; /* Align items at the top of the container */
   /* Hide the overflowing parts for a perfect circle */
}

.logo-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* Make it a circle */
}



/* Styles for the quotes */
.quotes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;

  width: 70%;

  padding: 40px;

 
  margin-bottom: 70px;
}
.quotes-center-line {
  width: 10rem;
  border-bottom: 0.1px solid orangered;
  margin: 20px 0;
}
.motto-quote {
  color: rgb(215, 196, 154);
  font-size: 1.5em;
}
.quotes-center {
  position: absolute;
  left: 35%;
  top: -6%;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  background-color: crimson;
  padding: 0.5rem;
  border-radius: 4rem;
}

.quotes-1 {
  color: #fff; /* Set your desired text color */
  font-size: 15px; /* Set your desired font size */
  font-weight: bold; /* Set your desired font weight */
}

.quotes-2 {
  box-sizing: border-box;
  color:goldenrod;
  background-color: black;
  padding:30px 60px;
  font-family: Roboto, sans-serif;
  font-size: 31.248px;
  font-weight: 700;
  border-radius: 1rem;
  box-shadow: rgba(53, 51, 48, 0.48) 0px 0px 50px 2px;
  line-height: 40.6224px;
  text-align: center;
  border: 1px solid rgb(255, 199, 0);
}

/* Styles for the course main div */
.course-main-div {
  position: relative;
  margin: auto;
  background-color: black;
  border-radius: 1rem;
  border: 1px solid rgb(255, 199, 0);

  padding: 4rem 2rem 4rem 2rem;
  width: 90%;
  box-shadow: rgba(53, 51, 48, 0.48) 0px 0px 50px 2px;
  margin-bottom: 50px;
  /* animation: glow2 1.8s infinite; */
}

/* Styles for the course inner div */
.courese-inner-div {
  display: flex;
}

.tick-sym {
  border-radius: 50%;
  margin-right: 10px;
}

/* Styles for the left and right divs */
.left-div,
.right-div {
  flex-basis: calc(
    50% - 20px
  ); /* Set width for each div (50% with some spacing) */
}

/* Styles for the center line */
.center-line {
  width: 2px;
  background-color: #333; /* Set your desired line color */
  margin: 0 20px; /* Adjust the margin as needed */
}

/* Styles for the left and right titles */
.left-title,
.right-title {
  color: goldenrod; /* Set your desired text color */
  font-size: 24px; /* Set your desired font size */
  font-weight: bold; /* Set your desired font weight */
  margin-bottom: 15px; /* Adjust the margin as needed */
}

/* Styles for the lists in the left and right divs */
.left-div ul,
.right-div ul {
  list-style-type: none; /* Remove default list styles */
  padding: 0; /* Remove default list padding */
  text-align: left; /* Align list items to the left */
}

.left-div li,
.right-div li {
  color: rgb(215, 196, 154); /* Set your desired text color */
  font-size: 16px; /* Set your desired font size */
  padding: 10px 5px;
}

.offer-end-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.offer-end-main h3 {
  margin-bottom: 10px;
}

.offer-end-div {
  display: flex;
}

.time-box {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  font-size: 18px; /* Adjust the font size as needed */
  background-color: #333333; /* Set your desired background color */
  padding: 5px 20px;
  border-radius: 5px; /* Optional: Add border radius for rounded corners */
  text-align: center;
  border: 2px solid white;
  color: bisque;
} /* Adjust the margin as needed */

.min,
.sec {
  color: white;
  font-size: 1.5em;
}
.minutes,
.seconds {
  font-size: 3em;
  font-weight: 400;
}
.offer-timer-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  margin: 2rem 0 4rem;

  padding: 5px;
}
.offer-button button {
  padding: 20px 40px;
  margin-top: 10px;
  animation: anime 2s linear infinite;

  background: linear-gradient(-45deg, #fc6076, #ff9a44, #ef9d43, #e75516);
  z-index: 1;
}

@keyframes anime {
  0% {
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.8);
  }
  50% {
    box-shadow: 0 0 40px rgba(255, 165, 0, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.8);
  }
}

