.sec-6 {
  background-color: rgb(255, 251, 243);
  padding: 90px 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.google-review-div {
  width: 50%;
  margin: 0 auto;
}
.google-review-title {
  color: #333;
  font-size: 30px;
  font-weight: 700;
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
}
.google-div {
  margin-bottom: 30px;
}

.google-div iframe {
  width: 100%;
  height: 60vh;
}
.reviews-parent-div {
  width: 100%;
  overflow: hidden;
  padding: 60px 0;
  background-color: rgb(255, 251, 243);
  white-space: nowrap;
  position: relative;
}
.reviews-parent-div:before,
.reviews-parent-div:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100%*20));
  }
}
.reviews-parent-div:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.reviews-parent-div:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.reviews-parent-div:hover .reviews-upper-div {
  animation-play-state: paused;
}
.reviews-upper-div{
  display: flex;
  animation: 10s slide infinite linear;
}



.text-review {
  
  margin: 20px;
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.star-img {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.star-img img {
  width: 100%;
  object-fit: cover;
}

.review {
  color: #555;
  font-size: 16px;
  text-align: center;
  text-wrap: wrap;
  width: 500px;
}

.reviewer-name {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .sec-6 {
    padding: 60px 20px;
  }

  .google-review-div {
    width: 100%;
    margin: 0 auto;
  }

  .google-review-title {
    font-size: 1.5rem;
    margin-bottom: 25px;
  }

  .google-div {
    margin-bottom: 15px;
  }

  .google-div iframe {
    height: 40vh;
  }

  .text-review-div {
    flex-direction: column;
  }

  .text-review {
    max-width: 100%;
    margin: 10px 0;
    padding: 10px;
  }

  .star-img {
    width: 15px;
    margin-bottom: 3px;
  }

  .review {
    font-size: 14px;
  }

  .reviewer-name {
    font-size: 16px;
    margin-top: 3px;
  }
}
