.sec-4 {
  background-color: #f4f4f4; /* Set your desired background color */
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center; /* Adjust the padding as needed */
}

/* Styles for the training info div */
.training-info-div {
  max-width: 800px; /* Set your desired maximum width */
  margin: 0 auto; /* Center the div horizontally */
}

/* Styles for the training heading */
.training-heading {
  color: #333; /* Set your desired text color */
  font-size: 24px; /* Set your desired font size */
  font-weight: bold; /* Set your desired font weight */
  text-align: center;
}

/* Styles for the training targets list */
.training-targets {
  list-style-type: none; /* Remove default list styles */
  padding: 0; /* Remove default list padding */
  margin-top: 20px; /* Adjust the margin as needed */
  column-count: 2; /* Divide the list items into two columns */
  column-gap: 10rem; /* Adjust the gap between columns */
}

/* Styles for individual list items */
.training-targets li {
  width: 20rem;
  color: #555; /* Set your desired text color */
  font-size: 16px; /* Set your desired font size */
  margin-bottom: 1rem; /* Adjust the margin as needed */
  background-color: #fff; /* Set background color for list items */
  padding: 10px; /* Add padding to list items */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  text-align: center;
  transition: transform 0.2s ease; /* Add box shadow to list items */
}

/* Optional: Add hover effect to list items */
.training-targets li:hover {
  transform: scale(1.05); /* Add underline on hover */
}
