.sec-7 {
  padding: 70px 40px;
  width: 100%;
}

.video-review-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-review-container h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 1.5px;
  margin-bottom: 40px;
  color: goldenrod;
}

.video-main-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  
}

.video-review-card {
  border: 1px solid #ddd;
  padding: 15px;
  background-color: rgb(255, 251, 243);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.5s ease;
  transition: transform 0.5s ease;
}

.video-review-card:hover {
  box-shadow: 0 0 10px rgba(238, 219, 219, 0.992);
  transform: scale(1.03);
}

.reviewer-name {
  font-weight: bold;
}

.reviewer-video {
  margin-top: 10px;
}
.reviewer-video iframe{
  
  border-radius: 0.5rem;
}
.reviewer-experience {
  margin-top: 10px;
  color: #666;
}

@media screen and (min-width:768px) and (max-width:1100px) {
  .sec-7 {
    padding: 70px 30px;
  }
  .video-review-container h1 {
    font-size: 24px;
  }
  .video-main-div {
    grid-template-columns: 1fr;
  }

  .video-review-card {
    text-align: center;
    width: 50%;
    margin: auto;
   
    
  }
}
@media screen and (max-width:768px){

  .sec-7 {
    padding: 70px 40px;
  }
  .video-review-container h1 {
    font-size: 24px;
  }
  .video-main-div {
    grid-template-columns: 1fr;
  }

  .video-review-card {
    text-align: center;
    width: 95%;
    margin: auto;
   
    
  }

}
